* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid: auto-flow min-content / 1fr 1fr 1fr;
    height: 100vh;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.figure {
    border-radius: 100%;
    width: 10vh;
    height: 10vh;
    background-color: purple;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
}

.nav {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.3em;

    .nav-section {
        height: 8vh;
        background-color: magenta;
        border-radius: 2em;
}
}

.main  { 
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    row-gap: 0.3em;

    .main-section {
        background-color: pink;
        grid-column: 1 / -1;
        height: 8vh;
}
}

.aside {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;

    .aside-section {
        height: 7vh;
        grid-column: span 1;
        background-color:deeppink ;
}
}

.footer {
    height: 13vh;
    background-color: beige;
    grid-column: 1 / -1;
}

@media screen and (min-width: 600px) {
    body {
        grid: auto-flow min-content / repeat(12, 1fr);
    }

    .figure {
        justify-self: start;
        margin-left: 1em;
        height: 13vh;
        width: 13vh;
    }

    .nav {
        flex-direction: row;
        justify-content: center;
        gap: 0.5em;

        .nav-section {
            width: 31.5%;
            height: 12vh;
            border-radius: 3em;
        }
    }

    .main{
        grid-column: 2 / 8;
        margin-top: 5vh;

        .main-section {
            grid-column: span 3;
            height: 17vh;
        }
    }

    .aside{
        grid-column: 8 / 12;
        margin-top: 5vh;
        row-gap: 0.3em;

        .aside-section {
            grid-column: span 4;
            height: auto;
        }
    }

    .footer {
        margin-top: 7vh;
        height: 17vh;
    }
}